# Logs
logs
*.log
node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Build outputs
node_modules/
dist/

# OS files
Thumbs.db
.DS_Store
*.tmp
*.temp
.cache/

guide/
*.sh
thingstodo.txt

# Dummy folder for UI/UX testing
dummy/
deploy.sh
TODO.md